@import "variables";

@mixin Text ($line: normal, $size, $weaght: 400 ) {
  font-size: $size;
  line-height: $line;
  font-weight: $weaght;
}

@mixin Title ($size) {
  color: $text_icons-Primary;
  font-size: $size;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}