$text_icons-Primary: #FFFFFF;
$text_icons-Secondary: #111111;

$bg-primary: #030303;
$bg-secondary: #282828;

$brand-primary-strong: #97D317;
$brand-primary-subtle: #F23785;
$brand-primary-badge: #F737FB;
$brand-secondary-strong: #202020;
$brand-secondary-subtle: #C71F65;